* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: $white;
    font-family: $main-font;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-item {
    margin: 0;
}

.container {
    max-width: 1400px;
}

.section-height {
    height: 600px;
}

.big_picture {
    background-size: cover;
    background-position: center;
}
