.calendar {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 400px;
    background-color: rgb(255,255,255, 0.8);
    margin-right: 100px;

    h5 {
        text-transform: uppercase;
        font-family: $handwritten-font;
        font-size: 2em;
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: 6px double $darkBrown;
    }
}

.events {
    width: 100%;
    div:nth-child(odd) {
        background-color: rgb(255, 239, 224, 0.8);
    }
}

.event {
    width: 100%;
    height: 65px;
    text-align: center;
    font-family: $handwritten-font;
    font-weight: bold;
    font-size: 2em;
    border-bottom: solid 2px $darkBrown;
}

.date {
    position: relative;
    padding-right: 10px;
    width: 30%;
}

.date::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 250%;
    width: 2px;
    background-color: $darkBrown;
}

.name {
    width: 70%;
}