.faq {
    margin: 100px auto;
    flex-direction: column;
    width: 40%;
    h5 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    h6 {
        margin: 0;  
        font-size: 1.3em;
    }

    p {
        font-size: 1.3em;
        margin-top: 10px;
    }

    i {
        margin: 0;
        font-size: 1.3em;
        padding: 10px;
    }
}

.question {
    flex-direction: column;
    width: 100%;
}

.question-title {
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: solid 2px $darkBrown;
    padding-bottom: 10px;
}

.faq-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

