.gallery-section {
    margin-top: 400px;
}

.insta-info {
    font-size: 2.5em;
    justify-content: center;

    p {
        font-family: $handwritten-font;
        font-weight: bold;
        margin-left: 15px;
    }
}

.gallery {
    position: relative;
    overflow: hidden;
    justify-content: start;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 2px $darkBrown;
}

.slide-track {
    width: calc(330px * 20);
    animation: scroll 90s linear infinite;
}

.gallery-item{
    min-width: 300px;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    border: solid 2px $darkBrown;
    margin-right: 30px;

    :last-child {
        margin-right: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}