.offer-background {
    height: 700px;
    background-position: 0% 80%;
}

.offer {
    position: relative;
    top: 100px;
    background-color: $mainColor;
    border: 2px solid $darkBrown;
    width: 800px;
    height: 800px;
    justify-content: center;
}

.offer-box {
    width: 650px;
    font-size: 1.8em;
    text-align: center;

    h5 {
        position: relative;
        font-family: $handwritten-font;
        font-size: 2.2em;
        padding-bottom: 15px;
        margin-bottom: 35px;
    }

    h5::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 12.5%;
        width: 75%;
        height: 2px;
        background: $darkBrown;
    }

    p {
        margin-bottom: 25px;
    }

    ul {
        width: 550px;
        text-align: left;
    }
}