.offer-background {
    height: 700px;
    background-position: 0% 80%;
    flex-direction: column;
}

.offer {
    margin-top: 100px;
    background-color: $mainColor;
    border: 2px solid $darkBrown;
    width: 800px;
    min-height: 800px;
    justify-content: center;
}

.offer-box {
    font-size: 1.7em;
    text-align: center;

    h5 {
        position: relative;
        font-family: $handwritten-font;
        font-size: 2.2em;
        padding-bottom: 15px;
        margin-bottom: 35px;
    }

    h5::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 12.5%;
        width: 75%;
        height: 2px;
        background: $darkBrown;
    }

    p {
        margin-bottom: 25px;
    }

    ul {
        text-align: left;
    }
}

.offer-control-item {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 4em;
    color: $darkBrown;
}

.test {
    width: 60%;
}