.quote {
    width: 650px;
    height: 400px;
    border-left: 2px solid $darkBrown;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    p {
        font-size: 1.8em;
        margin-left: 10%;
    }

    span {
        font-family: $handwritten-font;
        font-size: 2em;
        font-weight: bold;
        margin-right: 50px;
    }
}
